* {
    font-family: 'Roboto';
    font-display: optional;
    font-size: 100%;

    @include respond-to('medium') {
        font-size: 85%;
    }

    @include respond-to('small') {
        font-size: 100%;
    }
}