
.icon-fb:before { content: '\e815'; } /* '' */
.icon-phone:before { content: '\f098'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-chat:before { content: '\f0e6'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-car:before { content: '\f1b9'; } /* '' */
.icon-pdf:before { content: '\f1c1'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-tv:before { content: '\f26c'; } /* '' */
.icon-bath:before { content: '\f2cd'; } /* '' */